/*
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

body::before {
  content: "";
  background: #535971;
  height: 436px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  min-height: 300px;
  margin: auto;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  padding-top: 140px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  padding: 18px 0 58px 0;
}

form {
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset.info-pessoal {
  border: 0;
}

.info-pessoal legend {
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: #535971;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
}

.info-pessoal label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  font-weight: normal;
}

.info-pessoal input {
  border: 1px solid #e6e6f0;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  font-weight: normal;
  border-radius: 8px;
}

.info-pessoal input:focus {
  border: 2px solid #9c9ca0;
  outline: none;
}
