/*
font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

body::before {
  content: "";
  background: #535971;
  height: 436px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  min-height: 300px;
  margin: auto;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  padding-top: 140px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  padding: 18px 0 58px 0;
}

form {
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  padding: 64px 64px 48px;
}

fieldset {
  border: 0;
}

legend {
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: #535971;
}

.line1 {
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  margin-top: 16px;
}

.col2 {
  display: flex;
  gap: 22px;
  margin-top: 20px;
}

.col2 div {
  width: 100%;
}

.info-name-lastname label {
  margin-bottom: 8px;
}

.info-name-lastname input {
  margin-bottom: 16px;
}

.input-info {
  display: flex;
  flex-direction: column;
}

.input-info label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  font-weight: normal;
}

.input-info input {
  border: 1px solid #e6e6f0;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  font-weight: normal;
  border-radius: 8px;
  padding-left: 10px;
}

.input-info input:focus {
  border: 2px solid #9c9ca0;
  outline: none;
}

.input-info span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  font-weight: normal;
  margin-left: 9.12px;
}

.info-mentor {
  margin-top: 14px;
}

.line2 {
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  margin-top: 8px;
}

.info-mentor label {
  margin: 32px 0 8px;
}

.info-mentor input {
  margin-bottom: 32px;
}

.line3 {
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  margin: 8px 0 32px;
}

legend.first {
  font-size: 20px;
  margin-bottom: 8px;
}

.info-clock label {
  margin-bottom: 8px;
}

.info-clock input {
  margin-bottom: 16px;
}

.col3 {
  display: flex;
}

.col3 > div:nth-child(1) {
  width: 300px;
  margin-right: 32px;
}

.col3 > div:nth-child(2) {
  width: 140px;
  margin-right: 10px;
}

.col3 > div:nth-child(3) {
  width: 140px;
}

footer {
  height: 160px;
  background: #535971;
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}

footer input {
}
